* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 1024px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
}

.heading {
    padding: 70px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
}

.buttons {
    width: 837px;
    height: 75px;
    display: flex;
    gap: 36px;
}

.buttons button {
    flex: 1 0 1px;
}

.score {
    width: 837px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    padding: 36px 0;
    gap: 36px;
}

.score-blocks {
    display: flex;
    justify-content: center;
    padding: 0 165px;
    gap: 138px;
}

.score-player, 
.score-computer {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.log {
    width: 837px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

.new-game {
    /* display: none; */
}

.new-game .new-game-start {
    width: 381px;
    height: 75px;
}
